<header>
  <div class="d-flex align-items-center" style="
      background-color: rgb(1, 1, 98);
      height: 50px;
      justify-content: space-between;
    ">
    <h4 style="
        padding: 0px 10px;
        font-weight: 200;
        margin-top: 10px;
        color: white;
      ">
      APPLY LEAVE
    </h4>
  </div>
</header>
<form style="padding: 30px" #f="ngForm" (ngSubmit)="onSubmit(f.value)" [formGroup]="empService.applyLeaveForm">
  <div class="row d-flex align-items-center" style="padding: 12px 20px">
    <div class="col-4">
      <label for="leaveDate" class="form-label">LEAVE DATES</label>
      <mat-form-field appearance="outline" color="white" style="display: block">
        <mat-date-range-input formGroupName="range" [rangePicker]="picker">
          <input #startDate (dateChange)="checkStartDate(startDate.value)" id="leaveDate" matStartDate
            formControlName="fromDate" placeholder="From Date" />
          <input #endDate (dateChange)="checkEndDate(endDate.value)" matEndDate formControlName="toDate"
            placeholder="To Date" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>
    <div class="col-4">
      <label for="leaveType" class="form-label">LEAVE TYPE</label>
      <mat-form-field appearance="outline" style="display: block">
        <mat-select (valueChange)="leaveType($event)" formControlName="leaveType">
          <mat-option [value]="leave.type" *ngFor="let leave of leaves">
            {{leave.type}} (Remaining - {{ leave.remaining }})
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-4">
      <form *ngIf="showCerti === true">
        <p *ngIf="selectedLeaveType === 'Hospitalization'">UPLOAD PHOTO OF LEAVE CERTIFICATE (Required)</p>
        <p *ngIf="selectedLeaveType === 'Sick/Casual'">UPLOAD PHOTO OF LEAVE CERTIFICATE (Optional)</p>
        <input (change)="uploadCertificate($event)" type="file" id="myFile" name="filename">
      </form>
    </div>
  </div>

  <div *ngIf="showHalfDaybool === true" class="row" style="padding: 12px 20px">
    <div class="col">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button (change)="checkHalfDayLeave($event,1)" value="1">AM</mat-radio-button>
        <mat-radio-button style="margin-left:10px ;" (change)="checkHalfDayLeave($event,2)"
          value="2">PM</mat-radio-button>
      </mat-radio-group>

      <!-- <mat-checkbox (change)="checkHalfDayLeave($event,1)" color="primary">AM</mat-checkbox><span style="color: white;">.......</span>
      <mat-checkbox (change)="checkHalfDayLeave($event,2)" color="primary">PM</mat-checkbox>
      -->
      <!-- AM    <mat-slide-toggle (change)="checkHalfDayLeave($event)" > PM</mat-slide-toggle> -->

    </div>
  </div>
  <div class="row d-flex align-items-center" style="padding: 12px 20px">
    <div class="col">
      <label for="leaveReason" class="form-label">LEAVE REASON </label>
      <mat-form-field id="leaveReason" appearance="outline" style="display: block">
        <textarea matInput formControlName="leaveReason"></textarea>
      </mat-form-field>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" style="float: right; margin-right: 20px" [disabled]="!f.valid">
    APPLY LEAVE
  </button>
</form>
<div style="padding: 50px">
  <full-calendar [options]="calendarOptions" style="padding-top: 10px"></full-calendar>
</div>